<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div>
		<div>
			<h1>List Students</h1>
		</div>
		
		<div>
			<a th:href = "@{students/new}">Add Student</a>
		</div>
		
		<table>
			<thead>
				<tr>
					<th>Student First Name</th>
					<th>Student Last Name</th>
					<th>Student Email</th>
					<th>Action</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "student:${students}">
					<td th:text = "${student.firstName}"></td>
					<td th:text = "${student.lastName}"></td>
					<td th:text = "${student.email}"></td>
					<td>
						<a th:href = "@{/students/edit/{id}(id=${student.id})}">Update</a>
						<a th:href = "@{/students/{id}(id=${student.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
			
		</table>
	</div>

</body>
</html>