<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div class = "container">
		<div class = "row">
			<h1>List Students</h1>
		</div>
		<table>
			<thead>
				<tr>
					<th>Student First Name</th>
					<th>Student Last Name</th>
					<th>Student Email</th>
					<th>Student Action</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "student:${students}">
					<td th:text = "${student.firstName}"></td>
					<td th:text = "${student.lastName}"></td>
					<td th:text = "${student.email}"></td>
				</tr>
			</tbody>
			
		</table>
	</div>

</body>
</html>